.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: 128px;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  width: 100%;
  justify-content: center;
  margin: 0 auto 50px auto;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.text {
  display: grid;
  max-width: 1070px;
  padding-left: 20px;
  margin: 40px auto;

  @media screen and (max-width: 1024px) {
    margin: 0;
    padding: 10px;
    max-width: 100%;
  }
}