.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 100%;
  height: 50px;
  align-content: center;
  padding: 0 30px;
  background-color: #353b4a;
  color: #fff;

  @media screen and (max-width: 1080px) {
    grid-template-columns: 1fr 50px;
    padding: 0 10px;
    align-items: center;
  }

  p {
    margin: 0;

    @media screen and (max-width: 1080px) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.hide {
  display: grid;
  justify-content: end;
  align-content: center;
}

.hideBtn {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 15px;
  cursor: pointer;
  display: grid;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-content: center;
  background-color: #353b4a;
  font-size: 15px;
  color: #fff;

  &:hover {
    background-color: #cda17d;
    border-color: #cda17d;
  }
}

.link {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #cda17d;
    text-decoration: none;
  }
}