.wrapper {
  // grid-column-start: 2;
  justify-content: flex-end;
  align-self: center;
  padding: 0 20px;
  text-align: left;

  @media screen and (min-width: 1400px) {
    grid-column-start: 2;
  }

  @media screen and (max-width: 1024px) {
    padding: 20px;
  }

  h3 {
    display: grid;
    font-family: 'Sorts Mill Goudy', sans-serif;
    font-size: 36px;
    color: #232323;
    text-decoration: rgb(35, 35, 35);
    margin: 0;
    font-weight: 400;
  }

  p {
    display: grid;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #cda17d;
    text-decoration: rgb(205, 161, 125);
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 18px;
  }
}