.wrapper {
  display: grid;
  height: 550px;
  align-content: flex-end;
  background: url('../../assets/team-desc-bg.png') no-repeat 100% 100% #003c3c;
  padding: 0 50px 50px 50px;

  @media screen and (max-width: 1024px) {
    padding: 20px;
    height: auto;
  }

  p {
    color: #fff;
  }
}