.personsContainer {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 550px 550px;
  border-top: 1px solid #d1dadc;
  max-width: 1920px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr 30% 50%;
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: 1fr 350px 550px 550px;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}