.wrapper {
  display: grid;
  align-content: center;

  @media screen and (max-width: 1024px) {
    margin-top: 20px;
  }

  h2,
  h3 {
    text-align: center;
    margin: 0;
  }

  h2 {
    color: #cda17d;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: rgb(205, 161, 125);
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: 'Sorts Mill Goudy', sans-serif;
    font-size: 46px;
    color: #232323;
    text-decoration: rgb(35, 35, 35);
    text-align: center;
    font-weight: 400;
  }
}