.wrapper {
  display: grid;
  max-width: 1020px;
  margin: 140px auto;
  grid-template-columns: 476px 1fr;
  column-gap: 40px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    margin: 0;
    column-gap: 0;
  }

  article {
    @media screen and (max-width: 1024px) {
      padding: 10px;
    }
  }
}

.diagram {
  display: grid;
  min-height: 301px;
  background-image: url('./../../assets/diagram-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  justify-content: center;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media screen and (max-width: 1024px) {
    margin: 0 0 80px 0;
  }

  h2 {
    text-align: center;
    font-size: 18px;
    color: #cda17d;
  }

  p {
    position: absolute;
    font-weight: 700;
  }

  .tl {
    top: 10px;
    left: 20px;
    color: #082d2b;
  }
  .tr {
    top: 20px;
    right: 20px;
    color: #0e504c;
  }
  .br {
    bottom: -80px;
    left: 50%;
    color: #2d7b62;
  }
}