.wrapper {
  margin: 70px auto 0 auto;
  background-color: #f5f6f6;
  padding: 90px 0 0 0;
  max-width: 1920px;

  @media screen and (max-width: 1024px) {
    padding: 10px;
    margin: 0;
  }

  p {
    display: block;
    max-width: 1020px;
    margin: 0 auto;
    padding: 44px 0 70px 0;
    text-align: center;
    font-size: 15px;
    color: #807f84;
    text-decoration: rgb(128, 127, 132);
    line-height: 32px;
  }
}