.wrapper {
  display: grid;
  max-width: 1020px;
  margin: 0 auto;
  grid-template-columns: 340px 1fr;
  column-gap: 48px;
  padding: 73px 0 0 0;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  aside {
    border-right: 1px solid #807f84;
    padding-right: 48px;

    @media screen and (max-width: 1024px) {
      padding: 0;
      border: 0;
    }

    h3 {
      display: grid;
      height: 100px;
      background-position: calc(100% - 10px) 50%;
      background-repeat: no-repeat;
      background-size: contain;
      text-align: right;
      padding-right: 120px;
      align-content: center;
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      color: #807f84;
      text-decoration: rgb(128, 127, 132);
      letter-spacing: 1px;
    }
  }

  // &:hover {
  //   aside {
  //     h3 {
  //       background-image: url('../../assets/arrow.svg') !important;
  //       background-size: auto;
  //       background-position-x: calc(100%);
  //       transition: background-position-x .25s ease-in-out;
  //     }
  //   }
  // }

  article {
    p {
      margin: 0;
    }
  }
}