.container {
  display: grid;
  grid-template-columns: 1fr 550px;
  justify-content: flex-end;
  column-gap: 128px;
  max-width: 1920px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr 20%;
    column-gap: 40px;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 0;
    column-gap: 0;
  }
}

.wrapper {
  display: grid;
  width: 100%;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.bgImage {
  display: grid;
  background-image: url('../../assets/team-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.bgImage::before {
  position: absolute;
  bottom: 100%;
  display: block;
  width: 1px;
  height: 235px;
  background-color: #d1dadc;
  content: '';

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.text {
  display: grid;
  max-width: 1070px;
  padding-left: 20px;
  margin: 40px auto;

  @media screen and (max-width: 1024px) {
    margin: 0;
    padding: 10px;
    max-width: 100%;
  }
}