.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px auto 150px auto;
  max-width: 1920px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    margin: 60px 0 0 0;
    width: 100%;
  }
}