.wrapper {
  display: grid;
  justify-content: start;
  background: #ebebeb;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.2);
}

.content {
  display: grid;
  width: 400px;
  height: 545px;
  padding: 0 0 0 80px;
  position: relative;
  align-content: center;

  @media screen and (max-width: 1024px) {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .movingLabel {
    display: block;
    // margin-bottom: -32px;
    position: relative;
  }

  label,
  input::placeholder,
  input[type="text"],
  textarea,
  textarea::placeholder {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #807f84;
    opacity: 1;
  }

  input[type="text"],
  textarea {
    display: grid;
    width: 100%;
    height: 32px;
    align-content: center;
    border: 0;
    border-bottom: 1px solid #a1a7a9;
    background-color: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
  }

  textarea {
    height: 70px;
  }

}

.col1,
.col2 {
  margin-bottom: 10px;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.formSubmit {
  display: grid;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: #cda17d;
  background-size: cover;
  font-size: 12px;
  color: #ffffff;
  text-decoration: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 30px);
  border: 0;
  font-weight: 700;
  cursor: pointer;
  outline: none;

  @media screen and (max-width: 1024px) {
    left: calc(50% - 75px);
  }

  &:hover {
    background-color: #003C3C;
  }
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
  display: grid;
  width: 100%;
  height: 60px;
  border: 2px solid #a1a7a9;
  align-content: center;
  justify-content: center;
}

.inputFile:focus + label,
.inputFile + label:hover {
  background-color: #a1a7a9;
  color: #fff;
}

.inputFile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputFile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.info {
  font-size: 10px;
  line-height: 12px;
}

.link {
  color: #807f84;

  &:hover {
    color: #cda17d;
  }
}