.wrapper {
  display: grid;
  justify-content: end;
  background: url('../../assets/offices-bg.jpg') no-repeat 100% 0 #003c3c;
  border-top: 50px solid #fff;

  @media screen and (max-width: 1024px) {
    justify-content: center;
    border: 0;
  }
}

.content {
  display: grid;
  width: 510px;
  align-items: start;

  @media screen and (max-width: 1024px) {
    width: 100vw;
  }
}

.officeNavi {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -50px;
  display: grid;
  height: 50px;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 1024px) {
    position: static;
    top: auto;
    margin-bottom: 25px;
  }
}

.officeNaviBtn {
  display: grid;
  width: 100%;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #cda17d;
  text-decoration: rgb(205, 161, 125);
  letter-spacing: 1px;
  text-align: center;
  background-color: #f5f6f6;
  border: 0;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #003c3c;
    color: #fff;
  }
}

.officeNaviBtnActive {
  display: grid;
  width: 100%;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-decoration: rgb(205, 161, 125);
  letter-spacing: 1px;
  text-align: center;
  background-color: #003c3c;
  color: #fff;
  border: 0;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.officeDesc {
  margin-bottom: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;

  h4 {
    margin: 0 0 40px 0;
    font-family: 'Sorts Mill Goudy', sans-serif;
    color: #cda17d;
    font-size: 40px;
    font-weight: 400;
  }

  p {
    margin: 0;
    color: #fff;
  }
}