.wrapper {
  display: grid;
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 0 200px 0;

  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}

.textBox {
  margin-top: 100px;
  
  @media screen and (max-width: 1024px) {
    margin: 50px 0;
  }
  
  p {
    margin: 0;
    text-align: center;
  }
}

.link {
  font-weight: 700;

  &:hover {
    color: #CDA17D;
    cursor: pointer;
  }
}