.wrapper {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  padding-top: 161px;
  height: 897px;
  background: url('../../assets/intro-bg.png') no-repeat 50% 0 transparent;
  position: relative;

  @media screen and (max-width: 1024px) {
    background-image: none;
    height: auto;
    padding-top: 0;
  }

  .image {
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  p {
    margin: 0;
  }
}

.sloganBig {
  font-family: 'Sorts Mill Goudy', sans-serif;
  font-weight: 400;
  color: #003c3c;
  font-size: 60px;
  letter-spacing: -1px;
  text-decoration: rgb(0, 60, 60);

  .letter {
    position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: -2px;
      background: #003c3c;
      width: 20px;
      height: 5px;
      transform: rotate(-45deg);
    }
  }

  @media screen and (max-width: 1024px) {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 10%;
    width: 100%;
  }

  .sloganSmall {
    display: block;
    position: relative;
    right: -60px;
    top: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #cda17d;
    text-decoration: rgb(205, 161, 125);
    letter-spacing: 1px;
    text-align: right;
    width: 700px;

    @media screen and (max-width: 1024px) {
      width: auto;
      right: auto;
      top: auto;
    }
  }
}