.wrapper {
  width: 100%;
  background-color: #3f4551;

  @media screen and (max-width: 1024px) {
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 10px;
  }
}

.container {
  display: grid;
  max-width: 960px;
  height: 140px;
  align-content: center;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    height: auto;
  }
}

.text {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  text-align: center;

  @media screen and (max-width: 1024px) {
    padding: 10px 0;
  }
}

.link {
  color: #fff;

  &:hover {
    color: #cda17d;
    text-decoration: none;
  }
}