.wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
  align-self: center;

  @media screen and (max-width: 1024px) {
    margin-top: 10px;
  }

  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin: 0 20px 0 0;

    @media screen and (max-width: 1024px) {
      display: block;
      margin: 0 0 10px 0;
    }

    a {
      display: grid;
      align-self: center;
      color: #000;
      text-decoration: none;
      padding-bottom: 3px;
      cursor: pointer;
      position: relative;

      &.active {
        color: #cda17d !important;

        &:after {
          width: 0 !important;
          transition: width .25s ease-in-out;
        }
      }

      &:hover {
        color: #cda17d;
      }

      &:hover::after {
        width: 100%;
        transition: width .25s ease-in-out;
      }

      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 5px;
        background-color: #a1a7a9;
        display: block;
        content: '';
        transition: width .25s ease-in-out;
      }
    }
  }

}

.language {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
  border-left: 1px solid #d1dadc;

  @media screen and (max-width: 1024px) {
    border: none;
    justify-self: start;
  }

  li {
    display: grid;
    width: 60px;
    align-content: center;
    height: 101px;
    text-align: right;
    font-size: 14px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
      text-align: left;
    }

    a {
      color: #807f84;
      text-decoration: none;
      font-weight: 700;
      padding-bottom: 3px;

      &:hover {
        color: #cda17d;
      }
    }
  }
}