@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@400;600&family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
}

body {
  margin: 0;
  padding: 101px 0 50px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: justify;
  color: #807f84;
  line-height: 32px;
  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 75px 0 0 0;
    text-align: left;
    line-height: 1.5;
  }
}

/* font-family: 'Montserrat', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Sorts Mill Goudy', sans-serif; */