.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  
  // @media screen and (max-width: 1024px) {
  //   // position: static;
  //   width: 100vw;
  // }

  .container {
    display: grid;
    grid-template-columns: 220px 1fr;
    width: 100%;
    max-width: 1280px;
    height: 101px;
    align-content: center;
    margin: 0 auto;
    padding: 0 10px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
      padding: 10px 0;
      grid-template-columns: 1fr;
    }

    .logo {
      display: grid;
      align-self: center;
      width: 220px;
      height: 55px;
      // cursor: pointer;

      @media screen and (max-width: 1024px) {
        width: auto;
        margin: 0 0 0 10px;
      }
    }

    nav {
      display: grid;
      justify-content: end;
      align-content: center;

      grid-template-columns: 1fr 80px;

      @media screen and (max-width: 1024px) {
        display: block;
        position: relative;
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
        padding: 0 10px;
      }
    }
  }
}

.menuBtn {
  position: absolute;
  top: -52px;
  right: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  width: 50px;
  height: 50px;
}