.sliderArrowLeft,
.sliderArrowRight {
    display: block;
    width: 28px;
    height: 28px;
    border: 0;
    outline: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -3000em;
    background-color: transparent;
    cursor: pointer;
}

.sliderArrowLeft {
    background-image: url('../../assets/arrow-left.png');
}

.sliderArrowLeft:hover {
    background-image: url('../../assets/arrow-left-hover.png');
}

.sliderArrowRight {
    background-image: url('../../assets/arrow-right.png');
}

.sliderArrowRight:hover {
    background-image: url('../../assets/arrow-right-hover.png');
}