.wrapper {
  display: grid;
  grid-template-columns: 38% 62%;
  background: #f5f6f6;
  padding-top: 250px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.titleBox {
  display: grid;
  align-content: flex-start;
  justify-content: right;
  background-image: url('../../assets/pencils.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-right: 20px;

  @media screen and (max-width: 1024px) {
    justify-content: center;
    background-image: none;
    padding: 0 0 20px 0;
  }
}

.textBox {
  display: grid;
  height: 470px;
  background-color: #003c3c;
  z-index: 10;
  align-content: center;
  justify-content: start;

  @media screen and (max-width: 1024px) {
    height: auto;
  }
}

.pen {
  position: absolute;
  top: -290px;
  left: 50%;
  width: 786px;
  height: 443px;
  background-image: url('../../assets/pen.png');
  background-size: cover;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.ink {
  position: absolute;
  top: 80px;
  left: calc(50% + 48px);
  width: 145px;
  height: 210px;
  background-image: url('../../assets/ink.svg');
  z-index: 0;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.sliderWrapper {
  display: grid;
  width: 100%;
}

.box {
  display: block;
  max-width: 800px;
  color: #fff;
  padding: 0 80px;
  margin: 0 auto 0 100px;
  
  @media screen and (max-width: 1580px) {
    max-width: 45vw;
  }

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    width: 100vw;
    margin: 0;
  }

  .signature {
    text-align: right;
    font-weight: 700;
  }
}

.slideBox {
  display: grid;
  height: 100%;
  align-content: center;
}