.wrapper {
  display: grid;
  max-width: 1020px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}