.wrapper {
  border-bottom: 10px solid #003c3c;
  padding: 70px 0;

  p {
    margin: 0;
    line-height: 1;
  }
}

.number {
  display: block;
  font-size: 100px;
  line-height: 1;
  color: #807f84;
  text-decoration: rgb(128, 127, 132);
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
}

.text {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #cda17d;
  text-decoration: rgb(205, 161, 125);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}